* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}

@font-face {
  font-family: 'typicons';
  src: url("assets/icons/typicons.eot");
  src: url("assets/icons/typicons.eot?#iefix") format('embedded-opentype'),
       url("assets/icons/typicons.woff") format('woff'),
       url("assets/icons/typicons.ttf") format('truetype'),
       url("assets/icons/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-size:$fontSize;
}

a{
  text-decoration: none;
}

@include img-r;