$columns: 12;

$default-margin: 15px;
$screen-m-max: 1200px;
$screen-s-max: 992px;
$screen-x-max: 768px;

$container-l-max: 1170px;
$container-m-max: 970px;
$container-s-max: 750px;
$container-x-max: 100%;

//Color
$backgroundHtml: #fbfaf9;

//Font
$fontSize: 16px;
$defaultFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titleFont: 'Ubuntu', sans-serif;

//Teste
$shadow-line-color: #ccc !default;
$shadow-line-height: 0.5em !default;
$shadow-line-position: bottom !default;
$shadow-line-y-axis: 0% !default;
$titleFont: 'Open Sans', sans-serif;
